.SelectionContainer {
    display: flex;
    padding: 20px;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    flex-direction: column;
    gap: 12px;
    min-width: 300px;
    max-width: 300px; /* Allow responsiveness */
    max-height: 100vh; /* Ensures it doesn't exceed viewport height */
    height: auto; /* Allow the height to adjust */
    overflow-y: auto; /* Enable scrolling */
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.SelectionContainerHeader {
    color: #333333;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 10px; /* Add margin for spacing */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .SelectionContainer {
        padding: 10px; /* Reduce padding for smaller screens */
        min-width: 100%; /* Adjust to full width */
        max-width: 100%;
    }

    .SelectionContainerHeader {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}
